html, body{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(97, 97, 97);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#quiz {
    background: #333;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}

h1 {
    color:rgb(97, 97, 97);
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#question{
    font-size: 1.7rem;
    color: antiquewhite;
}

.button{
    background-color: antiquewhite;
    color:#333;
    width: 250px;
    font-size: 20px;
    border-radius: 0.3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px
}